*{
    margin: 0;
    padding: 0;
}


section{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    /* background: linear-gradient(135deg, #2d1b2e 0%, #1a1a1a 100%); */
    /* background: linear-gradient(135deg, #0f0f1e 0%, #1a0033 100%); */
}
.txtarea{
    /* width: 300px;
    height:100px ; */
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    text-align: center;
    z-index: 69;
    /* margin-top: -40px; */
    /* outline: 20px solid rgb(232, 0, 0); */

}